/*
    CSS for main page.
*/


@font-face {
    font-family: 'MS';
    src: url('../fonts/MS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MSbold';
    src: url('../fonts/MSbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: rgb(47, 124, 118);
    color: black;
    font-family: 'MS';
    overflow-y: hidden;
    overflow-x: hidden;
}

#startBar {
    bottom: 10px;
    position: fixed;
    background: #d2d2d2;
    height: 35px;
    width: 100%;
    margin: -10 -8;
    box-shadow: inset 0px 32px 0px -30px #FFFFFF;
    font-family: 'MS';
    border-radius: 0%;
}

#startMenu {
    background: #d2d2d2;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    height: 100px;
    width: 230px;
    position: fixed;
    left: 2px;
    margin: 17px 0px 0px 0px;
    z-index: 1;
}

#startMenu div {
    font-size: 18px;
    margin-bottom: 20px;
    left: 55px;
    position: relative;
    height: 40px;
    width: 175px;
    text-align:center;
}

#line {
    width: 175px;
    height: 1px;
    background-color: black;
    display: inline-block;
    margin: -20px 0px 0px 55px;
    position: relative;
    box-shadow: 1px 1px 1px 1px #3b3b3b;
}

#decal {
    position: relative;
    display: inline-block;
    background-color: #b1b1b1;
    margin: -140px 1px 1px 0px;
    width: 55px;
    z-index: 2;
    height: 100px;
}

#startMenu div:hover{
    background-color: #051e80;
    color: white;
    cursor: pointer;
}

#startButt {
    height: 30px;
    width: 80px;
    margin: 3px 5px;
    border-radius: 0%;
    float: left;
}

#clickedStartButt {
    height: 30px;
    width: 80px;
    margin: 3px 5px;
    border-radius: 0%;
    float: left;
    background-color: #a8a8a8;
    box-shadow: inset 2px 2px 0px 0px gray;
}

#startText {
    font-size: 17px;
    font-family: "MSbold";
    margin: -18px 0px 0px -7px;
    position: absolute; 
}

#windowsLogo {
    height: 25px;
    width: 25px;
    position: absolute;
    margin: -12px 0px 0px -36px;
}

#barTime {
    height: 30px;
    width: 80px;
    background: #d2d2d2;
    float: right;
    margin: 3px 5px;
    box-shadow: inset 2px 2px 0px 0px gray,
                inset -2px -2px 0px 0px #FFFFFF;
}

#time {
    position: absolute;
    margin: 8px 0px 0px 13px;
}

#progressWindowDiv {
    background: #d2d2d2;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    height: 200px;
    width: 400px;
    position: relative;
    left: 35%;
    bottom: 350px;
    display: none;
    z-index: 1;
}

#progressWindowDiv span {
    left: 10%;
    top: 25%;
    position: relative;
}

#progressWindowBar {
    width: 98.3%;
    background: #051e80;
    height: 30px;
    display: inline-block;
    margin: 3px 0px 0px 4px;
}

#progressBar {
    width: 80%;
    background-color: #adadad;
    height: 30px;
    box-shadow: inset 2px 2px 0px 0px gray,
                inset -2px -2px 0px 0px #FFFFFF;
    top: 26%;
    position: relative;
    left: 10%;
}

#progress {
    width: 0%;
    background-color: #051e80;
    height: 30px;
    box-shadow: inset 2px 2px 0px 0px gray,
    inset -2px -2px 0px 0px #FFFFFF;
}

.animProgress {
    animation: progress 5s;
}

@keyframes progress {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

#helpWindow {
    background: #d2d2d2;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    height: 500px;
    width: 300px;
    position: relative;
    left: 55%;
    bottom: 550px;
    z-index: 2;
}

#help {
    height: 50%;
    width: 50%;
    float: right;
}

#helpBar {
    width: 98.3%;
    background: #051e80;
    height: 30px;
    display: inline-block;
    margin: 3px 0px 0px 3px;
    color: white;
    font-family: "MS";
    line-height: 30px;
    text-indent: 5px;
}

#helpPage {
    width: 96%;
    height: 89%;
    background: rgb(255, 246, 205);
    margin: 7px 0px 0px 8px;
    box-shadow: inset 4px 4px 0px 0px rgb(95, 95, 95), inset -4px -4px 0px 0px #cacaca;
    padding-top: 10px;
}

#helpPage h1 {
    font-size: 18px;
    margin: 0% 0px 0px 10px;
}

#helpPage li {
    margin: 0% 0px 0px 10px;
    padding: 1% 5% 1% 0%;
    text-align: justify;
    font-size: 14px;
}

#fileUploadWindow {
    background: #d2d2d2;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    height: 600px;
    width: 800px;
    position: relative;
    left: 20%;
}

#fileUploadWindowBar {
    width: 99.3%;
    background: #051e80;
    height: 30px;
    display: inline-block;
    margin: 3px 0px 0px 3px;
    color: white;
    font-family: "MS";
    line-height: 30px;
    text-indent: 5px;
}

#under {
    border-bottom: 1px solid black;
}

#fileUploadWindowFileButton {
    background: none;
    border: none;
    position: absolute;
    top: 6.5%;
    font-size: 16px;
    font-family: 'MS';
    left: 1%;
}

#fileUploadWindowHelp {
    background: none;
    border: none;
    position: absolute;
    top: 6.6%;
    font-size: 16px;
    font-family: 'MS';
    left: 7%;
}

#fileUploadWindowFileButton:hover{
    background-color: #adadad;
}

#fileUploadWindowHelp:hover{
    background-color: #adadad;
}

#fileUploadWindowX {
    position: absolute;
    left: 96%;
    margin: 7px 0px 0px 5px;
    border-radius: 0%;
    font-family: "Arial";
    font-size: 14px;
    top: 0%;
}

#fileUploadWindow- {
    position: absolute;
    left: 93%;
    margin: 7px 0px 0px 3px;
    border-radius: 0%;
    font-family: "Arial";
    font-size: 14px;
    top: 0%;
    width: 20px;
}

#openWindow {
    height: 30px;
    width: 200px;
    background: #e9e9e9;
    box-shadow: inset 2px 2px 0px 0px gray, inset -2px -2px 0px 0px #FFFFFF;
    float: left;
    margin: 3px 0px 0px 20px;
}

#minWindow {
    height: 30px;
    width: 200px;
    background: #d2d2d2;
    box-shadow: inset -2px -2px 0px 0px gray, inset 2px 2px 0px 0px #FFFFFF;
    float: left;
    margin: 3px 0px 0px 20px;
}

#windowName {
    font-size: 15px;
    margin: 0px 8px;
    line-height: 25px;
    font-family: 'MSbold';
}

#reportWindow {
    background: #d2d2d2;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    height: 400px;
    width: 600px;
    left: 45%;
    z-index: 1;
    position: fixed;
    top: 32%;
}

#reportWindowBar {
    width: 98.3%;
    background: #051e80;
    height: 30px;
    display: inline-block;
    margin: 3px 0px 0px 6px;
}

#reportWindowPage {
    width: 98%;
    height: 86%;
    background: rgb(255, 246, 205);
    margin: 7px 0px 0px 8px;
    box-shadow: inset 4px 4px 0px 0px rgb(95, 95, 95), inset -4px -4px 0px 0px #cacaca;
    padding-top: 10px;
}

#reportText {
    margin: 0% 0px 0px 10px;
    padding: 1% 5% 1% 0%;
    text-align: justify;
    font-size: 14px;
}

/*
    CSS for upload files.
*/

#dropZone {
    width: 98%;
    height: 83%;
    background: white;
    margin: 30px 0px 0px 8px;
    box-shadow: inset 4px 4px 0px 0px rgb(95, 95, 95), inset -4px -4px 0px 0px #cacaca;
}

#manualInput {
    display: none;
}

#fileButtonMenu {
    height: 59px;
    width: 120px;
    position: absolute;
    font-size: 12px;
    top: 10.5%;
    left: 0%;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    z-index: 1;
}

#fileButtonMenu label, #fileButtonMenu span {
    background-color: #d2d2d2;
    color: black;
    display: block;
    padding: 10px;
    margin: 0px 0px 0px 3px;
    height: 16%;
}

#fileButtonMenu span:hover, #fileButtonMenu label:hover {
    background-color: #adadad;
}

#fileCountBox {
    box-shadow: inset 2px 2px 0px 0px gray, inset -2px -2px 0px 0px #FFFFFF;
    width: 98%;
    height: 30px;
    top: 0%;
    position: relative;
    margin: 3px 0px 0px 8px;
}

#fileCount {
    font-size: 20px;
    line-height: 34px;
    margin: 0px 0px 0px 6px;
}



/*
    CSS for displaying files uploaded.
*/

#fileLoadedDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fileDivContainer {
    flex-basis: 25%;
    margin: 1em 3em;
    max-width: 12%;
    cursor: pointer;
}

.fileIconStyle {
    position: relative;
    float: right;
    height: 100px;
    width: 80px;
    font-size: 6px;
    text-align: justify;
    padding: 2px 5px;
    box-shadow: -3px 3px 7px 0px black;
    background: white;
    line-height: 15px;
}


.fileTextStyle {
    position: relative;
    font-size: 15px;
    left: 6%;
    top: 10;
}

#chosenOne {
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #051E80;
}



/*
    CSS for the login page.
*/

#loginWindow {
    background: #d2d2d2;
    height: 300px;
    width: 600px;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    left: 30%;
    position: relative;
    margin-top: 15%;
}

#loginWindowBar {
    width: 98.9%;
    background: #051e80;
    height: 30px;
    display: inline-block;
    margin: 4px 0px 50px 3px;
    color: white;
    line-height: 30px;
    text-indent: 5px;
}

#loginHelpButton {
    position: absolute;
    left: 94%;
    margin: 8px 0px 0px 5px;
    border-radius: 0%;
    font-family: "Arial";
    font-size: 14px;
    top: 0%;
}

#loginInput {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    top: 15%;
    position: relative;
}

#loginInput input {
    width: 200px;
    left: 32%;
    position: relative;
    margin-bottom: 18px;
    font-size: 20px;
    font-family: 'MS';
    padding: 5px 0px 0px 5px;
}

.login {
    border-radius: 0%;
    box-shadow: 1px 1px 0px 1px black, 0px 0px 0px 1px black;
    width: 100px;
    font-size: 15px;
    font-family: 'MS';
    position: relative;
    text-align: center;
    left: 41%;
    height: 20px;
    line-height: 23px;
}

.login:active {
    box-shadow: inset 1px 1px 0px 1px black, 0px 0px 0px 1px black;
}

#loginInput label {
    position: absolute;
}

#labelUser {
    margin: 3px 0px 0px 105px;
}

#labelPass {
    margin: 53px 0px 0px 105px;
}

input[type=text] {
    border-radius: 0%;
    box-shadow: inset 2px 2px 0px 0px black, 1px 1px 0px 0px #FFFFFF;
}

#loginHelpWindow {
    background: #d2d2d2;
    box-shadow: inset 3px 3px 0px 0px #FFFFFF, 2px 2px 0px 2px #3b3b3b;
    height: 350px;
    width: 300px;
    position: relative;
    left: 180%;
    bottom: 320px;
}

#loginHelpBar {
    width: 98.3%;
    background: #051e80;
    height: 30px;
    display: inline-block;
    margin: 3px 0px 0px 3px;
    color: white;
    font-family: "MS";
    line-height: 30px;
    text-indent: 5px;
}

#loginHelpPage {
    width: 96%;
    height: 84%;
    background: rgb(255, 246, 205);
    margin: 7px 0px 0px 8px;
    box-shadow: inset 4px 4px 0px 0px rgb(95, 95, 95), inset -4px -4px 0px 0px #cacaca;
    padding-top: 10px;
}

#loginHelpPage h1 {
    font-size: 18px;
    margin: 0% 0px 0px 10px;
}

#loginHelpPage li {
    margin: 0% 0px 0px 10px;
    padding: 8%;
    text-align: justify;
    font-size: 15px;
}

#customGoogle {
    background: #d2d2d2;
    border: 1px black solid;
    width: 50px;
    height: 30px;
}



/*
    Attempt at making the webpage readable on other screens.
*/


@media only screen and (max-width: 1000px){
    #fileUploadWindow {
        left: 10%;
    }
    #helpWindow {
        left: -40%;
        bottom: 150px;
        height: 300px;
        width: 500px;   
    }

    #helpPage {
        width: 97%;
        height: 81%;
    }

    #helpPage li {
        margin: 0% 0px 0px 10px;
        padding: 1% 5% 1% 0%;
        text-align: justify;
        font-size: 14px;
    }

    #loginWindow {
        left: 20%;
    }
    #loginHelpWindow {
        left: 90%;
        bottom: 100px; 
    }
}



/* 
    CSS for the similarity report
*/

#reportTextDiv {
    padding: 0% 0% 2% 2%;
    font-size: 16px;
}

#reportTextDiv span {
    font-family: 'MSbold';
    font-size: 16px;
}

#reportTextFill {
    margin-left: 15px;
    display: inline;
}